<a href="https://colab.research.google.com/github/ukeshbhaal/Aka-assignment/blob/main/Final_Structured_Asssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow.parquet as pq
from datetime import datetime as dt

1. import all the necessary packages from the python library
2. import the pyarrow.parquet from the python library since the data set of the train file is in parquet format.

In [2]:
!pip install pandas pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (9.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

3. Install the pandas pyarrow library to import the parquet file into the pandas DataFrame

In [3]:
df = pd.read_parquet("/content/test.parquet")
df.head()

                            Patient-Uid       Date        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0

4. use pd.read_parquet to get the dataset as pandas DataFrame.

In [4]:
df.to_csv("train.csv")

In [5]:
df.tail()

                                  Patient-Uid       Date      Incident
1372854  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-05-11  DRUG_TYPE_13
1372856  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2018-08-22   DRUG_TYPE_2
1372857  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-02-04   DRUG_TYPE_2
1372858  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-09-25   DRUG_TYPE_8
1372859  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-05-19   DRUG_TYPE_7

In [6]:
df.isnull().sum()

Patient-Uid    0
Date           0
Incident       0
dtype: int64

There is no null value in the train dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1065524 entries, 0 to 1372859
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Patient-Uid  1065524 non-null  object
 1   Date         1065524 non-null  datetime64[ns]
 2   Incident     1065524 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 32.5+ MB

5. Patient-Uid feature data type is object
6. Date feature is in datetime64[ns]
7. Incident feature is data type is object

In [8]:
df.value_counts()

Patient-Uid                           Date        Incident
a0fd2dab-1c7c-11ec-9df8-16262ee38c7f  2019-04-04  DRUG_TYPE_6          6
a0fad6b2-1c7c-11ec-b0ea-16262ee38c7f  2019-05-11  DRUG_TYPE_6          6
a0fb5ad4-1c7c-11ec-abd0-16262ee38c7f  2017-07-12  DRUG_TYPE_6          5
a0fadb88-1c7c-11ec-9739-16262ee38c7f  2018-02-22  DRUG_TYPE_6          5
a0ff2c90-1c7c-11ec-8875-16262ee38c7f  2019-03-01  DRUG_TYPE_6          5
                                                                      ..
a0fca06f-1c7c-11ec-8cf1-16262ee38c7f  2017-01-10  PRIMARY_DIAGNOSIS    1
                                                  SYMPTOM_TYPE_0       1
                                      2017-01-11  PRIMARY_DIAGNOSIS    1
                                      2017-01-22  DRUG_TYPE_2          1
a0fe2b57-1c7c-11ec-baca-16262ee38c7f  2019-10-12  DRUG_TYPE_0          1
Length: 1053424, dtype: int64

In [9]:
shape = df.shape
print("Total number of rows:",shape[0]);
print("Total number of columns:",shape[1]);

Total number of rows: 1065524
Total number of columns: 3

In [10]:
df.describe().transpose()

<ipython-input-10-5c75d4b73d8e>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe().transpose()

,count,unique,top,freq,first,last
Patient-Uid,1065524,11482,a0faa6ed-1c7c-11ec-8f6f-16262ee38c7f,1236,NaT,NaT
Date,1065524,1947,2018-03-13 00:00:00,1139,2015-04-07,2020-08-04
Incident,1065524,55,DRUG_TYPE_6,192292,NaT,NaT

from above table we can find there are total 27,033 unique paitent-ids

In [11]:
df["Incident"].value_counts()

DRUG_TYPE_6          192292
DRUG_TYPE_1          169127
PRIMARY_DIAGNOSIS    130511
DRUG_TYPE_7           93002
DRUG_TYPE_0           91059
DRUG_TYPE_2           90629
DRUG_TYPE_8           56213
DRUG_TYPE_3           41091
TEST_TYPE_1           34274
DRUG_TYPE_9           25294
DRUG_TYPE_5           20692
DRUG_TYPE_11          17542
SYMPTOM_TYPE_0        17292
SYMPTOM_TYPE_6        11536
TEST_TYPE_0           10921
SYMPTOM_TYPE_7         7943
SYMPTOM_TYPE_5         5403
DRUG_TYPE_14           4963
DRUG_TYPE_10           4245
DRUG_TYPE_13           4079
SYMPTOM_TYPE_1         2955
DRUG_TYPE_12           2826
SYMPTOM_TYPE_2         2772
TEST_TYPE_3            2709
SYMPTOM_TYPE_8         2683
TEST_TYPE_2            2524
SYMPTOM_TYPE_14        2482
DRUG_TYPE_4            1840
SYMPTOM_TYPE_15        1818
SYMPTOM_TYPE_10        1783
SYMPTOM_TYPE_29        1703
SYMPTOM_TYPE_9         1689
SYMPTOM_TYPE_16        1576
DRUG_TYPE_15           1373
SYMPTOM_TYPE_4         1315
SYMPTOM_TYPE_3          968
SYMPTOM_TYPE_12         935
SYMPTOM_TYPE_11         776
SYMPTOM_TYPE_17         714
SYMPTOM_TYPE_13         531
DRUG_TYPE_16            426
TEST_TYPE_4             377
SYMPTOM_TYPE_18         164
SYMPTOM_TYPE_22         114
SYMPTOM_TYPE_21         110
SYMPTOM_TYPE_19          70
SYMPTOM_TYPE_24          46
TEST_TYPE_5              40
SYMPTOM_TYPE_20          27
SYMPTOM_TYPE_23          21
SYMPTOM_TYPE_26          19
SYMPTOM_TYPE_28          10
DRUG_TYPE_17              8
SYMPTOM_TYPE_27           8
SYMPTOM_TYPE_25           4
Name: Incident, dtype: int64

Group based on the target drug and get the unique patient id and their last target drug date

In [12]:
df["Incident"].nunique()

55

Total 57 unique incident found in the record

In [13]:
df.groupby(["Patient-Uid","Date"])["Incident"].count

In [14]:
dp=df.loc[df["Incident"]=="TARGET DRUG"]
dp.head()

Empty DataFrame
Columns: [Patient-Uid, Date, Incident]
Index: []

Grouping the data set base on the incident "TARGET DRUG"

In [15]:
dp.groupby(["Patient-Uid"])["Date"].max()

Series([], Name: Date, dtype: datetime64[ns])

In [16]:
"""#To find the three separate weeks of signle week on given dataset - apply  Fn is used

def rolling_count(dp["Patient-Uid"], dp["Date"]):
    return dp["Patient-Uid"].rolling(dp["Date"], on='Date')['Patient-Uid']
dp['visits_7_days'] = dp.groupby('Patient-Uid', as_index=False, group_keys=False).apply(rolling_count, '30D')
dp"""

'#To find the three separate weeks of signle week on given dataset - apply  Fn is used\n\ndef rolling_count(dp["Patient-Uid"], dp["Date"]):\n    return dp["Patient-Uid"].rolling(dp["Date"], on=\'Date\')[\'Patient-Uid\']\ndp[\'visits_7_days\'] = dp.groupby(\'Patient-Uid\', as_index=False, group_keys=False).apply(rolling_count, \'30D\')\ndp'

In [17]:
dp.shape

(0, 3)

In [18]:
print("Total person who has taken target drugs:",dp.shape[0])

Total person who has taken target drugs: 0

In [19]:
dp.head()

Empty DataFrame
Columns: [Patient-Uid, Date, Incident]
Index: []

In [20]:
dp_unique=dp.drop_duplicates(subset=["Patient-Uid"])
dp_unique.head()

Empty DataFrame
Columns: [Patient-Uid, Date, Incident]
Index: []

Dropping the duplicate to get the only the unique Paitent-Uid

In [21]:
print("Total unique Patient-Uid :",dp_unique.shape[0])

Total unique Patient-Uid : 0

In [22]:
intial_dose_date = dp_unique.groupby("Patient-Uid")["Date"].min().reset_index()
intial_dose_date.head()

Empty DataFrame
Columns: [Patient-Uid, Date]
Index: []

 To find the intial "Traget drug" dose days, We are grouping the paitent-uid and the first date of the target drug used for a paitent.

In [23]:
dn= df.merge(intial_dose_date,on="Patient-Uid",how="left")
dn.head()

                            Patient-Uid     Date_x        Incident Date_y
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0    NaT
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0    NaT
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2    NaT
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1    NaT
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0    NaT

In [24]:
dn["Date_y"].value_counts()

Series([], Name: Date_y, dtype: int64)

In [25]:
dn=dn[dn["Date_y"].isnull()].sample(n=len(dp_unique),random_state=42)
dn.head()

Empty DataFrame
Columns: [Patient-Uid, Date_x, Incident, Date_y]
Index: []

In [26]:
con_data = pd.concat([dp_unique,dn])
con_data.head()

Empty DataFrame
Columns: [Patient-Uid, Date, Incident, Date_x, Date_y]
Index: []

In [27]:
con_data["Date_x"].value_counts()

Series([], Name: Date_x, dtype: int64)

In [28]:
con_data["Date_y"].value_counts()

Series([], Name: Date_y, dtype: int64)

In [29]:
frequency_based= con_data.groupby("Patient-Uid")["Incident"].value_counts().unstack().fillna(0);
frequency_based.head()

Empty DataFrame
Columns: []
Index: []

In [30]:
con_data = con_data.merge(frequency_based, on ="Patient-Uid",how="left")
con_data.head()

Empty DataFrame
Columns: [Patient-Uid, Date, Incident, Date_x, Date_y]
Index: []

In [31]:
con_data["eligibility"]=(pd.to_datetime(con_data["Date"].astype("datetime64[ns]"))- pd.to_datetime(con_data["Date_x"])).dt.days
con_data["eligibility"].value_counts()

Series([], Name: eligibility, dtype: int64)

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

In [33]:
con_data.columns.value_counts

In [34]:
features = con_data.columns
target ="Incident"

In [ ]:
train_data,test_data,train_target,test_target=train_test_split(con_data[features],con_data[target],test_size=0.2,random_state=42)

In [ ]:
rf= RandomForestClassifier(random_state=42);
rf.fit(train_data,train_target)

In [ ]:
#Since the String cannot be used for training the dataset, Label encoder has to be used.

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
train_test_encoded = label_encoder.fit_transform(train_data)
train_target_encoded = label_encoder.fit_transform(train_target)
print(train_target_encoded)
print(train_test_encoded)

In [ ]:
rf= RandomForestClassifier(random_state=42)
rf.fit(train_data,train_target_encoded)